body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #080822;
    font-family: 'Arial', sans-serif;
}

.calculadora {
    background: #080519;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
    width: 250px;
    border: 1px solid #ece6e621;
    position: fixed;
}

#display {
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
    font-size: 24px;
    padding: 1px;
    border-radius: 10px;
    border: 1px solid #ccc;
    text-align: right;
    background: #f9f9f931;
}

.botoes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: #e0e0e0;
    transition: all 0.2s;
}

button:hover {
    background: #d1d1d1;
}

button:active {
    background: #c0c0c0;
}

#display::placeholder {
    color: black;
    text-align: right;
    padding-right: 10px;
}

img {

    margin-left: 70%;
    width: 200px;
    margin-top: 30%;
    position: fixed;

}